# Checkout: Get the code onto the runner.
# FS Scan (SAST): Scan the source code for vulnerabilities (Snyk/Trivy).
# Secret Scan: Ensure no passwords were accidentally committed.
# Build Image: Create that Distroless image.
# Image Scan: Scan the built image for OS-level vulnerabilities (Trivy).
# Docker Hub Push: Send the clean, verified image to the registry.

name: Api Gateway CI

on:   
  push:
    paths:
      - 'api-gateway/**'
      - '.github/workflows/api-gateway.yml'
jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api-gateway
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          sparse-checkout: |
            api-gateway
          sparse-checkout-cone-mode: false 
  
      - name: Run Trivy FS Scan
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          scan-ref: 'api-gateway'
          format: 'table'
          severity: 'CRITICAL,HIGH'
          exit-code: '1'
  
      - name: GitLeaks Scan
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}