name: Api Gateway CI

on:   
  push:
    paths:
      - 'api-gateway/**'
      - '.github/workflows/api-gateway.yml'
jobs:
  scan-and-build:
    runs-on: ubuntu-latest
    env:
      SERVICE_NAME: api-gateway
    defaults:
      run:
        working-directory: ./${{env.SERVICE_NAME}}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Trivy FS Scan (SAST)
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          scan-ref: '${{env.SERVICE_NAME}}'
          format: 'table'
          severity: 'CRITICAL,HIGH'
          exit-code: '1'
  
      - name: GitLeaks Scan
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          context: '${{env.SERVICE_NAME}}'
          push: false
          load: true
          tags: ${{vars.DOCKERHUB_USERNAME}}/prod-${{env.SERVICE_NAME}}:${{ vars.API_GATEWAY_VERSION }}
      
      - name: Scan Image with Trivy
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: '${{ vars.DOCKERHUB_USERNAME }}/prod-${{ env.SERVICE_NAME }}:${{ vars.API_GATEWAY_VERSION }}'
          format: 'table'
          severity: 'HIGH,CRITICAL'
          ignore-unfixed: true
          scanners: 'vuln,misconfig,secret'
          exit-code: '1'

      - name: Push to Docker Hub
        run: docker push ${{ vars.DOCKERHUB_USERNAME }}/prod-${{ env.SERVICE_NAME }}:${{ vars.API_GATEWAY_VERSION }}

  update-k8s-manifest:
    needs: scan-and-build
    runs-on: ubuntu-latest
    env:
      SERVICE_NAME: api-gateway
    steps:
      - name: Checkout ecommerce-gitops-manifests repository
        uses: actions/checkout@v4
        with:
          repository: 'ebad-arshad/ecommerce-gitops-manifests'
          token: ${{ secrets.ACTIONS_PAT }}
          path: './gitops'
          sparse-checkout: |
            helm/environments/dev/
      - name: Update Image Tag
        run: | 
          cd gitops/helm/environments/dev
          yq -i '.image.name = "${{ vars.DOCKERHUB_USERNAME }}/prod-${{ env.SERVICE_NAME }}:${{ vars.API_GATEWAY_VERSION }}"' ${{ env.SERVICE_NAME }}-values.yaml
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          git add ${{ env.SERVICE_NAME }}-values.yaml
          git commit -m "chore: update ${{ env.SERVICE_NAME }} to ${{ vars.API_GATEWAY_VERSION }}"
          git push